@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Pacifico|Raleway';
@import '../font-awesome/css/font-awesome.min.css';
@import 'bootstrap.min.css';
@import 'jquery-ui.css';


/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}

/*// Mixin for transition/transform*/
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9+
          transform: translate(@x, @y);
}
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/ 
    border-radius: 0px;
    background: #ffffff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #c7c7c7;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body { 
	background: #F7F7F7;
	padding-bottom: 0px;
	padding-top: 55px; 
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}

.logo {
	/*color: #E04F67;*/
	color: #f6f7eb;
	font-family: 'Pacifico';
	font-size: 2.8rem;
}

.jumbotron {
	padding-top: 45px;
	padding-bottom: 10px;
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: 'Raleway';
	position: relative;
    overflow: hidden;
    height: auto;
    z-index:0;
}

.row {
	max-width: 100%;
	margin: 0 auto;
}

.info {
	padding-bottom: 20px;
}

.recipe-image img{
	/*position: relative;*/
	height: auto;
	width: 100%;
    margin: 0 0 30px auto; /* Align slide image horizontally center */
    box-shadow: 0px 0px 20px #b2b2b2;
}

.jumbotron h1 {
	color: #f6f7eb;
	margin-bottom: 15px;
	z-index: 100;
}

.token-input ui-autocomplete-input {
	max-width: relative;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	background: #ffffff;
 	border: none;
 	font-size: 10pt;
	text-align: left;
 	opacity: 0.8;
 }

.header-text {
	margin-bottom: 10px;
	z-index: 2;
}

.jumbo-bg {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("https://yummyli.herokuapp.com/img/food-photo/3.jpg");
	background-size: cover;
	background-position: center;
}

.navbar {
	background: #393e41;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f6f7eb;
	background: #393e41;
}

.navbar-nav {
	padding-top: 5px;
	background: #393e41;
}

.navbar-fixed-top {
	background: #393e41;
	padding-bottom: 5px;
}

.nav>li>a {
	background: #393e41;
}

.footer {
	text-align: center;
	padding: 20px;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	position: relative;
  	bottom: 0;
  	left: 0;
  	height: auto;
  	background-color: white;
  	width: 100%;
  	margin-top: 20px;
}

.min-footer {
	padding-top: 15px;
}

.jumbotron h4{
	margin-bottom: 70px;
}

.love {
	color: #be0000;
}

.button-new:hover {
	background: #ECECEC;
	border: 1px solid #393e41;
	color: #393e41;
}

.button-new {
	background: #393e41;
	border: 1px solid #393e41;
	color: #ECECEC;
}

.btn-def {
	background: #F7F7F7;
	font-size: 1.3rem;
	border: 1px solid #DEDEDE;
	color: #393e41;
	margin: 1%;
}

.btn-def:hover {
	background: #eaeaea;
}

.btn-advn {
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
	color: #393e41;
	margin-right: 5px;
}

.btn-advn:hover {
	background: #eaeaea;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #e04f67;
	border-color: #e04f67;
}

/*start*/

.equal-height-thumbnail { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.equal-height-thumbnail li { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 250px; 
  margin: .5vw ; 
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1)
  padding:0 0.5%;
}

.equal-height-thumbnail figure {
  padding: 2%;
}

.equal-height-thumbnail figure img { 
  width: 100%; 
  height: auto; 
}

.caption { 
	padding-left: 5%;
	padding-right: 5%;
}

/*end*/

.button-social {
	background: #ffffff;
	border: 0px;
	color: #2c3e50;
}

.button-social:hover {
	background: #2c3e50;
	color: #ECECEC;
}

.gallery {
	margin-top: 100px;
	margin-bottom: 100px; 
	text-align: center;
	font-size: 4.5rem;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.navbar-btn {
    background: #393e41;
	border: 1px solid #ECECEC;
	color: #ECECEC;
	margin-left: 10px;
	padding: 8px;
}

.navbar-btn:hover {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	color: #393e41;
}

.navbar-btn:visited {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	color: #393e41;
}

.link {
	color: #393e41;
}

.link:hover {
	color: #393e41;
	text-decoration: none;
}


.btn-wishlist {
	background: #F7F7F7;
	font-size: 1.3rem;
	border: 1px solid #e04f67;
	color: #e04f67;
	margin: 1%;
}

.btn-wishlist:hover {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}

.btn-search {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}

.btn-search:hover {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	color: #e04f67;
}

a.link-heart {
	color: #F7F7F7;
}

.button-new-reverse {
	background: #f6f7eb;
	border: 1px solid #393e41;
	color: #393e41;
}

.button-new-reverse:hover {
	background: #393e41;
	border: 1px solid #393e41;
	color: #f6f7eb;
}

.modal-dialog {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.intext-logo {
	font-family: Pacifico;
	font-size: 2rem;
}

.btn-learn {
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
	color: #393e41;
	margin-bottom:20px;
	opacity: 0.8;
	font-size: 1.5rem;
	padding-bottom: 12px;
}

.btn-learn:hover {
	background: #eaeaea;
}

.up {
    font-size: 30px;
    margin-bottom: 60px;
    color: #393e41;
}

.row {
	width: 100%;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
}

.info .nav>li>a {
	background-color: #f7f7f7;
	border-bottom: 1px solid #ddd;
	color: #393e41;
}

.info .nav>li>a:focus {
	background-color: #f7f7f7;
	outline: 0;
}

.icons-field {
	margin-bottom: 2%;
	color: #393e41;
}

/* Default mode */
.info > .nav-tabs {
  border: none;
  margin: 0px;
}
.info > .nav-tabs > li {
  margin-right: 2px;
}
.info > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.info > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.info > .nav-tabs > li.open, .info > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.info > .nav-tabs > li.open > a, .info > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.info > .nav-tabs > li.open > a > i, .info > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.info > .nav-tabs > li.open .dropdown-menu, .info > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.info > .nav-tabs > li.active {
  border-bottom: 4px solid #E04F67;
  position: relative;
}
.info > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.info > .nav-tabs > li.active > a > i {
  color: #404040;
}
.info > .tab-content {
  margin-top: -3px;
  padding-left: 10px;
  background-color: #f7f7f7;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .info > .tab-content {
  padding-bottom: 0;
}

.info .tab-pane {
	padding-left: 3%;
}

.preparations {
	font-size: 1.2em;
}
