<div id="howitworks" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
        <span class="modal-logo">yummy.li</span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="rcorners">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x hiw-icon"></i>
                <i class="fa fa-search fa-stack-1x"></i>
              </span>
            </div>
            <div class="hiw-text">
              <h3>What's in your fridge?</h3>
              <p>Search recipes using ingredients you already have in the kitchen!</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="rcorners">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x hiw-icon"></i>
                <i class="fa fa-magic fa-stack-1x"></i>
              </span>
            </div>
            <div class="hiw-text">
              <h3>Do your magic! And have fun!</h3>
              <p>Prepare easy and delicious dishes!</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="rcorners">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x hiw-icon"></i>
                <i class="fa fa-heart fa-stack-1x"></i>
              </span>
            </div>
            <div class="hiw-text">
              <h3>Spread your love!</h3>
              <p>Create wishlist of best recipes, spread your love for cooking!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default button-new-reverse" data-dismiss="modal">Nice!</button>
      </div>
    </div>
  </div>
</div>