.jumbotron {
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: 'Raleway';
	position: relative;
    overflow: hidden;
    height: auto;
    z-index:0;
    padding-top: 100px;
    margin-bottom: 30px;

}

.jumbotron-noresults {
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: 'Raleway';
	position: relative;
    overflow: hidden;
    height: 100%;
    z-index:0;
    top: 20%;
}

@media (max-width: 768px) {
	.jumbotron-noresults h2 {
		margin-top: 10%;
		margin-bottom: 10px;
		font-size: 3rem;
	}
	
	.jumbotron h2 {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 3rem;
	}
}

@media (min-width: 768px) {
	.jumbotron-noresults h2 {
		margin-top: 15%;
		margin-bottom: 20px;
		font-size: 3rem;
	}
	
	.jumbotron h2 {
		margin-top: 70px;
		margin-bottom: 20px;
		font-size: 3rem;
	}
}


@media (min-width: 1920px) {
	.gridalicious {
		padding-left: 22%;
	}
}

@media (min-width: 2560px) {
	.gridalicious {
		padding-left: 33%;
	}
}

.gallery {
	text-align: left;
}