.jumbotron {
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: 'Raleway';
	position: relative;
    overflow: hidden;
    height: auto;
    z-index:0;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
	.jumbotron h2 {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 3rem;
	}
}

@media (min-width: 768px) {
	.jumbotron h2 {
		margin-top: 70px;
		margin-bottom: 70px;
		font-size: 3rem;
	}
}

.profile-row {
	max-width: 80%;
}

.image-cropper {
	max-width: 200px;
	max-height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto 30px;
}

.image-cropper img{
	/*position: relative;*/
	height: auto;
	width: 100%;
    margin: 0 0 30px auto; /* Align slide image horizontally center */
    box-shadow: 0px 0px 20px #b2b2b2;
}

.dummy {
	padding-bottom: 200px;
}

.info i {
	padding-right: 5px;
}

.row {
	width: 100%;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
}

.btn-wishlist {
	background: #F7F7F7;
	font-size: 1.3rem;
	border: 1px solid #e04f67;
	color: #e04f67;
	margin: 1%;
}
.btn-wishlist:hover {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}
.btn-search {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}
.btn-search:hover {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	color: #e04f67;
}
a.link-heart {
	color: #F7F7F7;
}
.button-new-reverse {
	background: #f6f7eb;
	border: 1px solid #393e41;
	color: #393e41;
}
.button-new-reverse:hover {
	background: #393e41;
	border: 1px solid #393e41;
	color: #f6f7eb;
}

.collapse.in {
	background-color: transparent;
}

.collapse {
	background-color: transparent;
}

.collapsing {
	background-color: transparent;
}