.jumbotron {
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: 'Raleway';
	position: relative;
    overflow: hidden;
    height: auto;
    z-index:0;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
	.jumbotron h2 {
		margin-top: 70px;
		margin-bottom: 30px;
		font-size: 3rem;
	}
}

@media (min-width: 768px) {
	.jumbotron h2 {
		margin-top: 70px;
		margin-bottom: 70px;
		font-size: 3rem;
	}
}