/*Scroll bar*/
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #ffffff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #c7c7c7;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/*General Body*/
html{
	height: 100%;
	margin: 0;
}

.Site {
  display: flex;
  flex-direction: column;
  height: 80%; /* 1, 3 */
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: 0;
  width: 100%;
}

.row {
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	body{ 
		background: #F7F7F7;
		color: #393e41;
		font-family: "Raleway", sans-serif;
		z-index: -100;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		padding-top: 55px;
    	display: table;
	}
}

@media (min-width: 768px) {
	body{ 
		background: #F7F7F7;
		color: #393e41;
		font-family: "Raleway", sans-serif;
		z-index: -100;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
    	display: table;
	}
}


a {
	color: #393e41;
}
a:hover {
	color: #393e41;
	text-decoration: none;
}

/*Navigation Bar*/
.logo {
	color: #f6f7eb;
	font-family: "Pacifico";
	font-size: 2.8rem;
}

.hat {
	max-height: 35px;
	display: inline-block;
    display: inline;
}

.navbar-brand>img {
	display: inline-block;
	margin-right: -14px;
    margin-top: -27px;
}	

.navbar-inverse .navbar-nav>li>a:link {
	color: #f6f7eb;
}

.navbar-inverse .navbar-nav>li>a:visited {
	color: #f6f7eb;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #c4c4c4;
}

.navbar-inverse .navbar-nav>li>a:active {
	color: #f6f7eb;
}

.navbar .divider-vertical {
	height: 20px;
	margin: 0 9px;
}

.navbar-inverse{
    background: transparent;
    border: none !important;
    transition-duration: 0.5s;
}

.navbar-nav .profile-img {
	max-height: 30px;
	border-radius: 50%;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
}

@media (max-width: 768px) {
	.navbar-header{
		background-color: #393e41;
		padding-bottom: 5px;
		border: none !important;
	}
	
	
}

@media (min-width: 768px) {
	.navbar-header{
		background-color: transparent;
		border: none !important;
	}
}

.navbar-nav>li>a:link{
    color: #f6f7eb;
}

.navbar-nav>li>a:visited{
    color: #f6f7eb;
}

.navbar-nav>li>a:hover{
    color: #f6f7eb;
}

.navbar-nav>li>a:active{
    color: #f6f7eb;
}

.collapse.in{
    background-color: #393e41;
    border: none !important;
}

.navbar-brand {
	background: transparent;
}  

.collapsing {
	background-color: #393e41;
    border: none !important;
}

.navbar-toggle .collapsed {
	color: #f6f7eb;
}

.collapsed {
	color: #f6f7eb; 
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #f6f7eb;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #f6f7eb;
}

.navbar-toggle{
	background: transparent;
    /*border: none !important;*/
    color: #f6f7eb;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #393e41;
	color: #f6f7eb;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #393e41;
	color: #F7F7F7;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
	outline: none !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
}


.navbar-inverse .navbar-nav>li>a {
	color: #f6f7eb;
	outline: none !important;
}

.navbar-nav {
	padding-top: 5px;
	outline: none !important;
}

.navbar-fixed-top {
	padding-bottom: 5px;
}

.navbar-btn {
    background: transparent;
	border: 1px solid #ECECEC;
	color: #ECECEC;
	margin-left: 10px;
	padding: 8px;
}

.navbar-btn:hover {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	color: #393e41;
}

.navbar-btn:visited {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	color: #393e41;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	color: #393e41;
	outline: none !important;
}

/*Central Section - Jumbotron*/
.jumbotron {
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: "Raleway";
	position: relative;
    overflow: hidden;
    width: 100%;
	height: 100%;
    z-index:0;
    padding: 0;
    margin: 0;
}

.jumbotron-inner{
	background-color: #f6f7eb;
	color: #f6f7eb;
	text-align: center;
	font-family: "Raleway";
	position: relative;
    overflow: hidden;
    height: auto;
    z-index:0;
}



.jumbotron h1 {
	font-family: "Pacifico";
	color: #f6f7eb;
	margin-top: 15%;
	margin-bottom: 10%;
	z-index: 100;
}



@media (max-width: 768px) {
	.jumbotron h2 {
		margin-top: 20vh;
		margin-bottom: 1%;
		font-size: 3rem;
	}
}

@media (min-width: 768px) {
	.jumbotron h2 {
		margin-top: 25vh;
		margin-bottom: 1%;
		font-size: 3rem;
	}
}

.jumbotron h4{
	padding-bottom: 30px;
}

.header-text {
	margin-bottom: 10px;
	z-index: 2;
}

/*Jumbotron video*/
#video-background { 
	position: absolute;
	height: auto;
	width: auto;
	min-height: 100%;
	min-width: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	z-index: -100;
}

.jumbo-bg-show {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("/img/food-photo/old-big/4.jpg");
}

.jumbo-bg-profile {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("/img/food-photo/old-big/6.jpg");
}

.jumbo-bg-wishlist {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("/img/food-photo/old-big/9.jpg");
}

.jumbo-bg-personal {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("/img/food-photo/old-big/10.jpg");
}

.jumbo-bg-search {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("/img/food-photo/old-big/13.jpg");
}

.jumbo-bg-trending{
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url("/img/food-photo/old-big/12.jpg");
}

.jumbo-bg-profile, .jumbo-bg-search, .jumbo-bg-wishlist, .jumbo-bg-show, .jumbo-bg-personal, .jumbo-bg-trending {
	background-size: cover;
	background-position: center;
}

.jumbotron .overlay {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    background: rgba(0, 0, 0, 0.5);
}

.intext-logo {
	font-family: "Pacifico";
	font-size: 1.5rem;
}

.btn-learn {
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
	color: #393e41;
	margin-bottom: 4vh;
	opacity: 0.8;
	font-size: 1.2rem;
	padding-bottom: 10px;
}

.btn-learn:hover {
	background: #eaeaea;
}

.btn-learn-1 {
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
	color: #393e41;
	margin-bottom: 4vh;
	opacity: 0.8;
	font-size: 1.2rem;
	padding-bottom: 10px;
	padding-top: 11px;
}

.btn-learn-1:hover {
	background: #eaeaea;
}

.info {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.recipe-image img{
	/*position: relative;*/
	height: auto;
	border-radius: 20px;
	width: 100%;
    margin: 0 0 30px auto; /* Align slide image horizontally center */
    box-shadow: 0px 0px 20px #b2b2b2;
}


.thumbnail img{
	display: block;
	width: 100%;
	height:	auto;
	overflow: hidden;
}

/*Search bar*/
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	background: #fffff;
 	border: none;
 	font-size: 10pt;
	text-align: left;
 	opacity: 0.8;
 	max-height: 34px;
 }

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
 	min-height: 34px;
 }

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
	min-height: 34px;
}

.tokenfield {
    padding-bottom: 0px;
    position: relative;
    margin-bottom: 20vh;
}

.tokenfield .token .token-label {
	color: #666;
}

/*Inner buttons*/
.button-new:hover {
	background: #ECECEC;
	border: 1px solid #393e41;
	color: #393e41;
}

.button-new {
	background: #393e41;
	border: 1px solid #393e41;
	color: #ECECEC;
}

.btn-def {
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
	font-size: 1.3rem;
	color: #393e41;
	margin: 1%;
}

.btn-def:hover {
	background: #eaeaea;
}

.btn-show {
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
	font-size: 1.3rem;
	color: #393e41;
}

.btn-show:hover {
	background: #eaeaea;
}

.thumbnail img{
	display: block;
	width: 100%;
	height:	auto;
	overflow: hidden;
}

/*Recipe Gallery*/
.gallery {
	margin-top: 50px;
	margin-bottom: 50px; 
	padding: 0 0 0 30px;
	line-height: 32px;
	vertical-align: middle;
	font-family: "Raleway", sans-serif;
}

.gallery-text {
	font-size: 2.5rem;
	vertical-align: middle;
	text-transform: uppercase;
}

.link {
	color: #393e41;
}

.link:hover {
	color: #393e41;
	text-decoration: none;
}

.btn-wishlist {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	font-size: 1.3rem;
	color: #e04f67;
	margin: 1%;
}

.btn-wishlist:hover {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}

/*Modal Style*/
.modal-logo {
	font-family: "Pacifico";
	color: #393e41;
	font-size: 4.8rem;
	padding-bottom: 40px;
	text-align: center;
}

.rcorners {
    text-align: center;
}

.hiw-icon{
	color: #F7F7F7;
	border: 1px dashed #393e41;
	border-radius: 100%;
}

.hiw-text {
	text-align: center;
	padding-bottom: 20px;
}

.modal-content {
	background: #F7F7F7;
	outline: none;
}

.modal-content-2 {
	background: #F7F7F7;
}

.modal-header {
	color: #F7F7F7;
	text-align: center;
	border-bottom: none;
	padding-bottom: 5%;
}

.modal-header-2 {
	color: #F7F7F7;
	text-align: center;
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.button-new-reverse {
	background: #F7F7F7;
	border: 1px solid #393e41;
	color: #393e41;
}

.button-new-reverse:hover {
	background: #393e41;
	border: 1px solid #393e41;
	color: #F7F7F7;
}

.modal-dialog {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.caption { 
	padding-left: 5%;
	padding-right: 5%;
}

/*Signup / Login*/

.btn-signup {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
	font-size: 0.9em;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.btn-signup:hover {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	color: #e04f67;
}

.btn-login {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	color: #e04f67;
	font-size: 0.9em;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.btn-login:hover {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}

.btn-google {
	background: #dd4b39;
	border: 1px solid #F7F7F7;
	font-size: 0.8em;
	color: #F7F7F7;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 1%;
	border-radius: 5px;
}

.btn-google:hover {
	background: #F7F7F7;
	border: 1px solid #dd4b39;
	color: #e04f67;
}

.btn-google i {
	margin-right: 5px;
}

.btn-facebook {
	background: #3b5998;
	border: 1px solid #F7F7F7;
	font-size: 0.8em;
	border-radius: 3px;
	color: #F7F7F7;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 1%;
	border-radius: 5px;
}

.btn-facebook:hover {
	background: #F7F7F7;
	border: 1px solid #3b5998;
	color: #3b5998;
}

.btn-facebook i {
	margin-right: 5px;
}

/*Footer Style*/

.footer {
	font-family: "Raleway", sans-serif;
  	/*background-color: #fff;*/
  	width: 100%;
  	outline: none;
  	display: table-row;
    height: 0;
}

.social-footer{
	text-align: center;
	margin-bottom: 20px;
}

.leftpanel {
	text-align: center;
	margin-bottom: 20px;
}

.min-footer {
	padding-top: 15px;
}

.love {
	color: #be0000;
}

.leftpanel a{
	/*background: #ffffff;*/
	color: #393e41;
	line-height: 200%;
	padding-bottom: 5px;
	font-size: 0.9em;
}

.leftpanel a:hover {
	color: #c7c7c7;
	text-decoration: none;
}

.right-panel {
	margin: 0 auto; 
	font-size: 1.3rem;

}

.right-panel .input-group{
	/*background: #ffffff;*/
	color: #393e41;
	width: 100%;
	padding-bottom: 5px;
	font-size: 0.9em;
}

.right-panel a:hover {
	color: #c7c7c7;
	text-decoration: none;
}

.button-social {
	/*background: #ffffff;*/
	border: 0px;
	color: #74777A;
	font-size: 1.9rem;
}

.button-social:hover {
	color: #393e41;
}

.up {
    font-size: 30px;
    padding: 60px;
    color: #393e41;
}

@media (max-width: 768px) {
	.home-footer {
		padding-top: 15vh;
	}
}

@media (min-width: 768px) {
	.home-footer {
		padding-top: 35vh;
	}
}

.fork-me-text {
	color: #f6f7eb;
	font-size: 14px;
}

.fork-me-text:hover {
	color: #f6f7eb;
	text-decoration: none;
}

.fork-me-text-black {
	color: #393e41;
	font-size: 14px;
}

.fork-me-text-black:hover {
	color: #393e41;
	text-decoration: none;
}

.btn-google {
	background: #dd4b39;
	border: 1px solid #F7F7F7;
	font-size: 0.8em;
	color: #F7F7F7;
	padding: 7px;
	max-width: 90px;
	margin-bottom: 1%;
	border-radius: 5px;
}

.btn-google:hover {
	background: #F7F7F7;
	border: 1px solid #dd4b39;
	color: #e04f67;
}

.btn-google i {
	margin-right: 5px;
}

.btn-twitter {
	background: #1da1f2;
	border: 1px solid #F7F7F7;
	font-size: 0.8em;
	color: #F7F7F7;
	padding: 7px;
	max-width: 90px;
	margin-bottom: 1%;
	border-radius: 5px;
}

.btn-twitter:hover {
	background: #F7F7F7;
	border: 1px solid #1da1f2;
	color: #1da1f2;
}

.btn-twitter i {
	margin-right: 5px;
}

.btn-facebook {
	background: #3b5998;
	border: 1px solid #F7F7F7;
	font-size: 0.8em;
	color: #F7F7F7;
	padding: 7px;
	max-width: 90px;
	margin-bottom: 1%;
	border-radius: 5px;
}

.btn-facebook:hover {
	background: #F7F7F7;
	border: 1px solid #3b5998;
	color: #3b5998;
}

.btn-facebook i {
	margin-right: 5px;
}

.centralize {
	text-align: center;
}
