@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Pacifico|Raleway';
@import '../font-awesome/css/font-awesome.min.css';
@import 'bootstrap.min.css';
@import 'jquery-ui.css';

/* Landscape phones and down */
@media (max-width: 480px) { ... }
@media screen and (max-width: 400px) {
header div { margin: 0; }
header { padding: 0; }

}
/*// Mixin for transition/transform*/
.translate(@x; @y) {
-webkit-transform: translate(@x, @y);
-ms-transform: translate(@x, @y); // IE9+
transform: translate(@x, @y);
}
.transition(@transition) {
-webkit-transition: @transition;
transition: @transition;
}
.transition-transform(@transition) {
-webkit-transition: -webkit-transform @transition;
-moz-transition: -moz-transform @transition;
-o-transition: -o-transform @transition;
transition: transform @transition;
}
::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
border-radius: 0px;
background: #ffffff;
}

::-webkit-scrollbar-thumb {
border-radius: 0px;
background: #c7c7c7;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body {
	background: #F7F7F7;
	padding-bottom: 0px;
	padding-top: 85px;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
    	display: table;
}
.logo {
/*color: #E04F67;*/
color: #f6f7eb;
font-family: 'Pacifico';
font-size: 2.8rem;
}
.jumbotron {
padding-top: 45px;
padding-bottom: 10px;
background-color: #f6f7eb;
color: #f6f7eb;
text-align: center;
font-family: 'Raleway';
position: relative;
overflow: hidden;
height: auto;
z-index:0;
}
.row {
max-width: 100%;
margin: 0 auto;
}
.info {
padding-bottom: 20px;
color: #393e41;
}
.recipe-image img{
/*position: relative;*/
height: auto;
width: 100%;
margin: 0 0 30px auto; /* Align slide image horizontally center */
box-shadow: 0px 0px 20px #b2b2b2;
}
.jumbotron h1 {
color: #f6f7eb;
margin-bottom: 15px;
z-index: 100;
}

.header-text {
margin-bottom: 10px;
z-index: 2;
}
.jumbo-bg {
background: linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)
),url("https://yummyli.herokuapp.com/img/food-photo/6.jpg");
background-size: cover;
background-position: center;
}
.navbar {
background: #393e41;
}
.navbar-inverse .navbar-nav>li>a {
color: #f6f7eb;
background: #393e41;
}
.navbar-nav {
padding-top: 5px;
background: #393e41;
}
.navbar-fixed-top {
background: #393e41;
padding-bottom: 5px;
}
.nav>li>a {
background: #393e41;
}
.footer {
	text-align: center;
	padding: 20px;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	position: relative;
	bottom: 0;
	left: 0;
	height: auto;
	background-color: white;
	width: 100%;
	margin-top: 20px;
  	display: table-row;
    height: 0;
}
.min-footer {
padding-top: 15px;
}
.jumbotron h4{
margin-bottom: 70px;
}
.love {
color: #be0000;
}
.button-new:hover {
background: #ECECEC;
border: 1px solid #393e41;
color: #393e41;
}
.button-new {
background: #393e41;
border: 1px solid #393e41;
color: #ECECEC;
}
.btn-def {
background: #F7F7F7;
font-size: 1.3rem;
border: 1px solid #DEDEDE;
color: #393e41;
margin: 1%;
}
.btn-def:hover {
background: #eaeaea;
}
.btn-advn {
background: #F7F7F7;
border: 1px solid #DEDEDE;
color: #393e41;
margin-right: 5px;
}
.btn-advn:hover {
background: #eaeaea;
}
.button-social {
background: #ffffff;
border: 0px;
color: #2c3e50;
}
.button-social:hover {
background: #2c3e50;
color: #ECECEC;
}
.gallery {
margin-top: 100px;
margin-bottom: 100px;
text-align: center;
font-size: 4.5rem;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
}
.navbar-btn {
background: #393e41;
border: 1px solid #ECECEC;
color: #ECECEC;
margin-left: 10px;
padding: 8px;
}
.navbar-btn:hover {
background: #ECECEC;
border: 1px solid #ECECEC;
color: #393e41;
}
.navbar-btn:visited {
background: #ECECEC;
border: 1px solid #ECECEC;
color: #393e41;
}
.link {
color: #393e41;
}
.link:hover {
color: #393e41;
text-decoration: none;
}
a {
color: #393e41;
}
a:hover {
color: #393e41;
text-decoration: none;
}
.btn-wishlist {
background: #F7F7F7;
font-size: 1.3rem;
border: 1px solid #e04f67;
color: #e04f67;
margin: 1%;
}
.btn-wishlist:hover {
background: #e04f67;
border: 1px solid #F7F7F7;
color: #F7F7F7;
}
.btn-search {
background: #e04f67;
border: 1px solid #F7F7F7;
color: #F7F7F7;
}
.btn-search:hover {
background: #F7F7F7;
border: 1px solid #e04f67;
color: #e04f67;
}
a.link-heart {
color: #F7F7F7;
}
.button-new-reverse {
background: #f6f7eb;
border: 1px solid #393e41;
color: #393e41;
}
.button-new-reverse:hover {
background: #393e41;
border: 1px solid #393e41;
color: #f6f7eb;
}
.modal-dialog {
width: 80%;
margin-left: 10%;
margin-right: 10%;
}
.intext-logo {
font-family: Pacifico;
font-size: 2rem;
}
.about-text-header-up .intext-logo {
font-family: Pacifico;
font-size: 3.5rem;
}
.btn-learn {
background: #F7F7F7;
border: 1px solid #DEDEDE;
color: #393e41;
margin-bottom:20px;
opacity: 0.8;
font-size: 1.5rem;
padding-bottom: 12px;
}
.btn-learn:hover {
background: #eaeaea;
}
.up {
font-size: 30px;
margin-bottom: 60px;
color: #393e41;
}
.row {
width: 100%;
margin: 0 auto;
}
.center {
margin: 0 auto;
}
.info .nav>li>a {
background-color: #f7f7f7;
border-bottom: 1px solid #ddd;
color: #393e41;
}
.info .nav>li>a:focus {
background-color: #f7f7f7;
}
.icons-field {
margin-bottom: 2%;
color: #393e41;
}
/* Default mode */
.info > .nav-pills {
border: none;
margin: 0px;
}
.info > .nav-pills > li {
margin-right: 2px;
}
.info > .nav-pills > li > a {
border: 0;
margin-right: 0;
color: #737373;
}
.info > .nav-pills > li > a > i {
color: #a6a6a6;
}
.info > .nav-pills > li.open, .info > .nav-pills > li:hover {
border-right: 4px solid #fbcdcf;
}
.info > .nav-pills > li.open > a, .info > .nav-pills > li:hover > a {
border: 0;
background: none !important;
color: #333333;
}
.info > .nav-pills > li.open > a > i, .info > .nav-pills > li:hover > a > i {
color: #a6a6a6;
}
.info > .nav-pills > li.open .dropdown-menu, .info > .nav-pills > li:hover .dropdown-menu {
margin-top: 0px;
}
.info > .nav-pills > li.active {
border-right: 4px solid #E04F67;
position: relative;
}
.info > .nav-pills > li.active > a {
border: 0;
color: #333333;
}
.info > .nav-pills > li.active > a > i {
color: #404040;
}
.info > .tab-content {
margin-top: -3px;
padding-left: 10px;
background-color: #f7f7f7;
border: 0;
border-left: 1px solid #eee;
padding: 15px 0;
}
.portlet .info > .tab-content {
padding-bottom: 0;
}
.info .tab-pane {
padding-left: 3%;
}
.preparations {
font-size: 1.2em;
}
.profile-row {
max-width: 80%;
}
.image-cropper {
width: 200px;
height: 200px;
position: relative;
overflow: hidden;
border-radius: 50%;
margin: 0 auto 30px;
}
.image-croppe img {
display: inline;
margin: 0 auto;
height: auto;
width: 100%;
}
.dummy {
padding-bottom: 200px;
}
.info-btn {
margin: 5px;
margin-bottom: 20px;
}
.info-btn i {
background: #F7F7F7;
font-size: 2rem;
color: #c7c7c7;
margin: 3px;
}
.info-btn i:hover {
color: #393e41;
}
.info i {
padding-right: 5px;
}
.about-text-header-up {
/*text-align: center;*/
margin-top: 20px;
margin-bottom: 50px;
color: #393e41;
}
.nav-stacked .icon-left {
	margin-right: 10px;
}
.rcorners {
text-align: center;
}
.hiw-icon{
color: #F7F7F7;
border: 1px dashed #393e41;
border-radius: 100%;
}
.hiw-text {
text-align: center;
padding-bottom: 20px;
}
.modal-content {
background: #F7F7F7;
}
.modal-content-2 {
background: #F7F7F7;
}

/*Modal Style*/
.modal-logo {
	font-family: 'Pacifico';
	color: #393e41;
	font-size: 4.8rem;
	padding-bottom: 40px;
	text-align: center;
}

.rcorners {
    text-align: center;
}

.hiw-icon{
	color: #F7F7F7;
	border: 1px dashed #393e41;
	border-radius: 100%;
}

.hiw-text {
	text-align: center;
	padding-bottom: 20px;
}

.modal-content {
	background: #F7F7F7;
	outline: none;
}

.modal-content-2 {
	background: #F7F7F7;
}

.modal-header {
	color: #F7F7F7;
	text-align: center;
	border-bottom: none;
	padding-bottom: 5%;
}

.modal-header-2 {
	color: #F7F7F7;
	text-align: center;
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.button-new-reverse {
	background: #F7F7F7;
	border: 1px solid #393e41;
	color: #393e41;
}

.button-new-reverse:hover {
	background: #393e41;
	border: 1px solid #393e41;
	color: #F7F7F7;
}

.modal-dialog {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.caption { 
	padding-left: 5%;
	padding-right: 5%;
}

/*Signup / Login*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-signup {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
	font-size: 0.9em;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
}

.btn-signup:hover {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	color: #e04f67;
}

.btn-login {
	background: #F7F7F7;
	border: 1px solid #e04f67;
	color: #e04f67;
	font-size: 0.9em;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.btn-login:hover {
	background: #e04f67;
	border: 1px solid #F7F7F7;
	color: #F7F7F7;
}

/*.btn-google {*/
/*	background: #dd4b39;*/
/*	border: 1px solid #F7F7F7;*/
/*	font-size: 0.8em;*/
/*	color: #F7F7F7;*/
/*	width: 100%;*/
/*	padding-top: 10px;*/
/*	padding-bottom: 10px;*/
/*	margin-bottom: 1%;*/
/*	border-radius: 5px;*/
/*}*/

/*.btn-google:hover {*/
/*	background: #F7F7F7;*/
/*	border: 1px solid #dd4b39;*/
/*	color: #e04f67;*/
/*}*/

.btn-google i {
	margin-right: 5px;
}

/*.btn-facebook {*/
/*	background: #3b5998;*/
/*	border: 1px solid #F7F7F7;*/
/*	font-size: 0.8em;*/
/*	border-radius: 3px;*/
/*	color: #F7F7F7;*/
/*	width: 100%;*/
/*	padding-top: 10px;*/
/*	padding-bottom: 10px;*/
/*	margin-bottom: 1%;*/
/*	border-radius: 5px;*/
/*}*/

/*.btn-facebook:hover {*/
/*	background: #F7F7F7;*/
/*	border: 1px solid #3b5998;*/
/*	color: #3b5998;*/
/*}*/

.btn-facebook i {
	margin-right: 5px;
}

/*hr line with text*/
.strike {
display: block;
text-align: center;
overflow: hidden;
white-space: nowrap;
margin-top: 20px;
margin-bottom: 20px;
}
.strike > span {
position: relative;
display: inline-block;
}

.strike > span:before,
.strike > span:after {
content: "";
position: absolute;
top: 50%;
width: 9999px;
height: 1px;
border-top: 1px solid #ccc;
border-bottom: 1px solid transparent;
}
.strike > span:before {
right: 100%;
margin-right: 15px;
}
.strike > span:after {
left: 100%;
margin-left: 15px;
}
