<% include ../partials/header %>
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/css/basic.css">

<% include ../partials/navbar-body-home %>
    <div class="jumbotron jumbotron-home" id="top">
      <div class="overlay"></div>
        <video id="video-background" preload muted autoplay loop>
          <source src="video/Food-1095.mp4" type="video/mp4">
        </video>
        <div class="header-text">
          <h2>
            What's in your fridge?
          </h2>
          <h4>
            Search recipes using ingredients you already have in the kitchen!
          </h4>
          <form action="/q" method="get">
            <div class="container input-group">
              <input type="text" class="form-control" id="search"
              placeholder="Type maximum 4 ingredients..."  name="search">
              <input type='hidden' name='page' value='1' />
              <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Go!">
              </span>
            </div>
          </form>
          <div>
              <div class="home-footer">
                <P>
                  <a class="fork-me-text" href="https://github.com/mikepenzin/yummy.li"><span>fork me on <i class="fa fa-github" aria-hidden="true"></i> GitHub</span></a>
                </P>
                made with <span><i class="fa fa-heart-o" aria-hidden="true"></i></span> by Mike Penzin
              </div>
              
          </div>
      </div>
    </div>
  </div>

<% include ../partials/modal-hiw %>
<% include ../partials/html-footer %>

    <script type="text/javascript" src="/components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/components/bootstrap-tokenfield/docs-assets/js/typeahead.bundle.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/minified/js/docs.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/minified/js/navbar.js" charset="UTF-8"></script>
    
</body>
</html>
