<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/profile-style.css">
<% include ../partials/navbar-body %>
<% include ../partials/modal-hiw %>

<div class="jumbotron jumbo-bg-profile" id="top">
	<div class="header-text">
		<h2>Hi, <%= currentUser.name %>!</h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sx-12">
			<div class="image-cropper">
				<img src="<%= currentUser.image %>" class="rounded" />
			</div>
		</div>
		<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sx-12">
			<form class="form-horizontal" action="/profile/<%= currentUser._id %>/profilePicture?_method=PUT" method="POST" enctype="multipart/form-data">
				<div>
					<label>
					    Choose your profile picture
					</label>
					<input type="file" name="image" placeholder="image url">
				</div>
				<br>
				<div>
				    <!-- Button -->
					<button id="signup" name="signup" class="btn btn-default btn-signup btn-block">Update your profile picture</button>
				</div>
				
			</form>
		</div>
		<div class="dummy"></div>
</div>
</div>

<% include ../partials/footer %>
<% include ../partials/modal-hiw %>
<% include ../partials/html-footer %>
    <script type="text/javascript" src="/js/navbar.js" charset="UTF-8"></script>
</body>
</html>